.arguments-list {
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .arguments-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &__item {
      margin-bottom: 88px;
    }
  }
}
