.arguments {
  padding: 0 20px;

  &__title {
    color: $additional-black;
    font-size: 36px;
    font-weight: normal;
    line-height: 60px;

    text-align: left;
    margin: 0 0 25px 0;
  }
}

.arguments-list {
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 30px;
  }
}

.argument-card {
  display: flex;

  &__img {
    margin-right: 20px;

    background-color: $main-green-color;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 60px;
    min-height: 60px;
  }

  &__img--profit {
    background-image: url('../img/advantage-leaf@1x.png');
  }

  &__img--preparing {
    background-image: url('../img/advantage-powder@1x.png');
  }

  &__img--eating {
    background-image: url('../img/advantage-dining@1x.png');
  }

  &__img--results {
    background-image: url('../img/advantage-clock@1x.png');
  }

  &__text {
    text-align: left;
    color: $additional-grey;
    font-size: 14px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
  }
}
