.button {
  font: inherit;
  min-height: 40px;
  background: $main-brand-color;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $main-brand-color-hvr;
  }

  &:active {
    background: $main-brand-color-down;
    color: rgba(255, 255, 255, 0.3);
  }

  &--link {
    display: block;
  }

  &--additional {
    background: $main-background-additional;
    color: $additional-font-color;
  }

  &--additional:hover,
  &--additional:focus {
    background: $additional-font-color-hvr;
  }

  &--additional:active {
    background: $additional-font-color-hvr;
    color: $additional-font-color-down;
  }
}
