.program-card {
  background: $main-background-additional;
  box-sizing: border-box;

  &__title {
    font-size: 24px;
    line-height: 37px;
    color: $main-font-color;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 28px;
  }

  &__description {
    font-family: "Arial", "Helvetica", sans-serif;
    color: $additional-font-color;
    text-align: left;
    margin: 0;
  }

  &__separator {
    opacity: 0.3;
    margin-top: 24px;
    margin-bottom: 18px;
  }

  &__catalog-link {
    color: $main-font-color;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;

    display: block;
    text-align: left;
  }

  &__catalog-link:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .program-card {
    display: flex;
    flex-direction: column;
    min-height: 372px;
    justify-content: space-between;

    text-align: left;

    &__title {
      font-size: 36px;
      line-height: 37px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
    }

    &__catalog-link {
      font-size: 20px;
      line-height: 20px;
    }

    &__separator {
      display: none;
    }
  }
}

@media (min-width: $desctop-width) {
  .program-card {
    &__title {
      margin-bottom: 74px;
    }

    &__description {
      margin: 46px 0 30px 0;
    }
  }
}
