@import "variables.scss";
@import "mixins.scss";

@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/page-footer.scss";
@import "blocks/main-nav.scss";
@import "blocks/logo.scss";
@import "blocks/button.scss";
@import "blocks/intro.scss";
@import "blocks/program-card.scss";
@import "blocks/program-list.scss";
@import "blocks/site-list.scss";
@import "blocks/arguments.scss";
@import "blocks/arguments-list.scss";
@import "blocks/argument-card.scss";
@import "blocks/products.scss";
@import "blocks/product.scss";
@import "blocks/show-products.scss";

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  line-height: 18px;
  color: $main-font-color;
  background-color: #ffffff;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $desctop-width) {
  .content-wrapper {
    width: 1300px;
    margin: 0 auto;
  }
}
