$tablet-width: 768px;
$desctop-width: 1440px;

$main-brand-color: #68b738;
$main-brand-color-hvr: #5eaa2f;
$main-brand-color-down: #5eaa2f;

$main-background-additional: #f2f2f2;

$main-font-color: #111111;
$additional-font-color: #444444;
$additional-font-color-hvr: #ededed;
$additional-font-color-down: rgba(68, 68, 68, 0.3);

$font-color-nav: #222222;

$border-color: #ededed;
