$main-green-color: #68b738;
$main-green-color-hvr: #5eaa2f;
$main-green-color-down: #5eaa2f;

$main-background-additional: #f2f2f2;

$additional-black: #111111;
$additional-grey: #444444;
$additional-grey-hvr: #ededed;
$additional-grey-down: rgba(68, 68, 68, 0.3);

$border-grey: #ededed;
